body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.map_switcher {
    transition: transform .3s ease;
}

.map_switcher:hover {
    transform: translateY(10px);
}

.map_switcher:hover img{
    opacity: .5;
}

img {
    width: 500px;
    height: auto;
    transition: opacity .3s ease;
}

.info {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
